/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07080c;
  background-size: cover;
  height: 100vh;
}
h1 {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.image {
  height: 100px;
  width: 300px;
}
.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.para {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 300;
}
